*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

form{
    border: 4px solid black;
    border-radius: 4px;
    width: 240px;
    padding-bottom: 16px;
    margin:16px ;
    height: 278px;
    display: grid;
}

.form-row {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 80px 1fr;
    width: 200px;
    gap: 10px;
}

label {
    justify-self: end;
}

input {
    width: 110px;
}

fieldset {
    width: 200px;
    border: none;
    padding: 0;
    margin-top: 16px;
    
}

legend {
    position: relative;
    left: 30px;
    margin-bottom: 6px;
    
}

.radio-option {
    display: grid;
    grid-template-columns: 80px 1fr;
    width: 200px;
    gap: 10px;
}

[type='radio'] {
    width: 20px;
    justify-self: end;
    position: relative;
    
}

[type='radio'] + *{
    justify-self: start
}



.library {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 240px;
    height: 278px;
    border: 4px solid black;
    box-shadow: 0 0 4px yellow;
    border-radius: 4px;
    margin: 16px;
    text-align: center;
}

.book div{
    padding: 16px;
    height: 20%;
}

.submit {
    margin-top: 16px;
}

button {
    width: 120px;
    height: 30px;
    padding: 0;
    margin: auto;
}

.book button{
    margin-top: 12px;
}

